.donation__field {
    margin: 0 auto 12px;
    display: flex;
    justify-content: space-between;
    max-width: 374px;
    min-width: 374px;
    background: rgba(196, 196, 196, 0.05);
    border-radius: 10px;
    border: 1px solid rgba(225, 225, 225, 0.47);
    }