.wallet__button {
    margin-top: 39px;
    width: 238px;
    height: 69px;
    background: #3183FF;
    box-shadow: 0 8px 25px rgba(49, 131, 255, 0.4);
    border-radius: 10px;
    border: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}