.withdraw__title {
    margin: 12px 0 39px;
    max-width: 324px;
    font-family: KyivType Sans, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 45px;
    color: #FFFFFF;
}