.invitation__button {
    max-width: 258px;
    min-width: 258px;
    background: #FF6231;
    box-shadow: 0 8px 30px rgba(255, 98, 49, 0.37);
    border-radius: 10px;
    border: none;
    font-family: Roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #FFFFFF;
}