.invitation__link {
    margin-left: 21px;
    font-family: Roboto, Arial,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #587597;
}